:root {
    font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: rgba(255, 255, 255, 1);
}

* {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    display: flex;
    flex-direction: column;
    flex: 1 1 30%;
}

.card {
    position: relative;
    flex: 1 1 30%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-width: 200px;
}

.text {
    padding: 20px;
    position: absolute;
    width: 90%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 1);
}

small {
    color: rgba(150, 150, 150, 1);
}
.tags {
    display: flex;
    gap: 5px;
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 5px;
}
.tags > * {
    padding: 2px 10px;
}
.bg-red {
    background-color: red;
}
.bg-blue {
    background-color: blue;
}
